*{   
margin: 0;
padding: 0;
}
body>header{
background-color:  dimgray;
}
body>header>p{
    color: #fff;
    }
body>main>section{
    background-color:  rgb(238, 231, 231);
    }
body>footer{
    background-color:  rgb(161, 117, 117);
    }
 .logo{
     background-color: floralwhite;
     padding: 15px;
 }
 li>a{
font-size: 25px;
font-weight: 500;
color: #fff;
text-decoration: none ;
font-family: 'Times New Roman', Times, serif;

 }
 li>a:hover{
    transition-property: all;
    transition-duration: .5s;
    font-size: 35px;
    font-weight: 700;
    color: rgb(75, 216, 32);
    text-decoration: underline ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }